html,body{
	background-image: url(../img/fondo-espacial-fullhd.png);
	background-repeat: no-repeat 
	background-position: center center ;
	background-size: cover;
	background-attachment: fixed;
}
#ins{
	z-index: 1;
    margin-top: 245px;
    margin-left: 558px;
}
#iniciar{
	z-index: 0;
    margin-top: 107px;
    margin-left: 557px;
}