body,html{
	background-image: url(../img/fondo-espacial-fullhd.png);
	background-repeat: no-repeat;
	background-position: center ;
	background-size: cover;
	margin:0px;
	height:100%;
}
.a{width:100%;height:90px;position:fixed;top:0px}
.b{width:100%;height:100%;overflow:hidden;}
.c{ background-color: yellow;
    position:fixed;
    top:0px;bottom:0px;left:0px;right:0px;display:none;z-index:1}
.d{ position: fixed;
    bottom: 0px;
    height: 19%;
    width: 100%;
    margin-left: -172px;
}
#nave{text-align:center;position:fixed;top:10%;width:100%;height:20%}
#nave img{height:100%;}
#cpanel{}
#hidem,#showm{
    display: inline-block;
    float: right;
    margin: 10px;
    text-align: center;
    font-size: 0%;
    width: 70px;
    height: 70px;
    background-image: url(../img/show-menu.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50% 50%;
}

#marcador1{
	background-color: red;
	width: 25%;
	box-shadow: 6px 6px 0px black;
	padding: 2px;
	margin-bottom: 15px;
	border: 3px solid black;
	font-size: 120%;
}
#marcador2{
	background-color: green;
	width: 25%;
	box-shadow: 6px 6px 0px black;
	padding: 2px;
	margin-bottom: 15px;
	border: 3px solid black;
	font-size: 120%;
}
#marcador3{
	background-color: orange;
	width: 25%;
	box-shadow: 6px 6px 0px black;
	padding: 2px;
	margin-bottom: 15px;
	border: 3px solid black;
	font-size: 120%;
}

#velocimetro{
    width: 33%;
    margin-left: 35px;
}
#gasolina{
    width: 38%;
    margin-left: 35px;
}
#altitud{
	width: 45%;
    margin-left: 35px;
}

#Perdedor {
    background-image: url(../img/fondo-final.jpg);
    text-align: center;
    border-style: outset;
    position: absolute;
    display: none;
    width: 80%;
    left: 10%;
    top: 15%;
}

#Ganador {
    background-image: url(../img/fondo-final.jpg);
    text-align: center;
    border-style: outset;
    position: absolute;
    display: none;
    width: 80%;
    left: 10%;
    top: 15%;
}

.gifes{
	width: 20%;
	margin-left: 2%;
}

#imgMotor {
    height: 5%;
    display: none;
    margin: auto;
}

#luna {
    height: 23%;
    width: 66%;
    position: fixed;
    bottom: -49px;
    left: 16%;
}

#reanudar {
    border-style: outset;
    border-color: #2E8B57;
    background-color: #00FA9A;
    color: black;
    margin: 5%;
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    width: 90%;
    height: 70px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0% 50%;
    pointer-events: auto;
    box-shadow: 6px 6px 0px black;
}

#pausa {
    border-style: outset;
    border-color: #2E8B57;
    display: none;
    background-color: #00FA9A;
    color: black;
    margin: 5%;
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    width: 90%;
    height: 70px;
    background-image: url(../img/play.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0% 50%;
    pointer-events: auto;
    box-shadow: 6px 6px 0px black;
}

#reinicia {
    border-style: outset;
    border-color: #2E8B57;
    background-color: #00FA9A;
    color: black;
    margin: 5%;
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    width: 90%;
    height: 70px;
    background-image: url(../img/restart.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0% 50%;
    pointer-events: auto;
    box-shadow: 6px 6px 0px black;
}

#ajustes {
    border-style: outset;
    border-color: #2E8B57;
    background-color: #00FA9A;
    color: black;
    margin: 5%;
    margin-bottom: 2px;
    text-align: center;
    font-size: 130%;
    width: 90%;
    height: 70px;
    background-image: url(../img/ajustes.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: 0% 50%;
    pointer-events: auto;
    box-shadow: 6px 6px 0px black;
}